@import url('https://fonts.googleapis.com/css?family=Roboto:700|Roboto:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #ffffff;
  background-color: #100320;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background: #100320;
  color: #ffffff;
}

button,
input,
textarea,
select {
  font: inherit;
}

html {
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 4.210rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.750rem;
}